@model WebApp.Models.SearchViewModel

<div class="search-wrapper">
    @using (Html.BeginForm("Search", "Search", FormMethod.Post,new { @class="search-form"}))
    {
        @Html.TextBoxFor(m => m.SearchInput, new { placeholder = "Search...", autocomplete="off", @class ="search-textbox" })
        <button class="search-button-search">Search</button>
    }
</div>

@using (Html.BeginForm("Close", "Search",FormMethod.Post))
{
    var url = (HttpContext.Current.Request.Url.AbsoluteUri);

    var splitUrl = url.Split('/');


    string searchId = splitUrl[5];
    string queryId = null;

    if (splitUrl.Length == 7) // if equals to search query and query id (e.g: [localhost]/Gallery/Index/Cat/2))
    {
        queryId = splitUrl[6];
    }

    @Html.HiddenFor(m => m.SearchId, searchId)
    @Html.HiddenFor(m => m.QueryId, queryId)
    <button class="search-button-close">X</button>
}