@{
    ViewBag.Title = "Home Page";
}

<!--

    [HEADER]

    [TITLE]    
    [Phrase]
[Button] [Button]


-->
<div class="index-wrapper"> <!--wrapper-->
    <h1 class="index-title">Discover More</h1>
    <h3 class="index-phrase">Find opinions about images you love</h3>
    <button class="index-moreInfo">Want to find out more?</button>
    <button class="index-signUp">Sign Up</button>
</div>