.register-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;   
    left:0;
    top:0;
    color:white;
}

.register-form-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:75%;
    font-size:16px;
}

.register-heading,
.register-title {
    text-align: center;
}

.register-form .form-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.register-button-wrapper {
    margin: 0;
    padding: 0 25px;
}

.register-edit-field:focus,
.register-edit-field:active,
.register-edit-field:hover,
.register-button:focus,
.register-button:active,
.register-button:hover
{
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.6);
    color:white;
}

.register-button,
.register-edit-field {
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius:3px;
    padding:10px;
    color: white;
    margin:auto;
    width:75%;
    margin-bottom:10px;
}

.register-label{
    margin:auto;
}

.register-button {
    float: right !important;
    border: none;
    margin:auto;
    width:75%;
    margin-top:10px;
    background-color:rgba(255,0,0,0.6);
}