.login-register-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;   
    left:0;
    top:0;
    color:white;
}

.login-register-form-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size:16px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color:rgba(0,0,0,0.9);
    border-radius:5px;
}

.login-register-heading,
.login-register-title {
    text-align: center;
}

.login-register-form .form-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.login-register-button-wrapper {
    margin: 0;
    padding: 0 25px;
}

.login-register-edit-field:focus,
.login-register-edit-field:active,
.login-register-edit-field:hover,
.login-register-button:focus,
.login-register-button:active,
.login-register-button:hover
{
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.45);
    color:white;
}

.login-register-button,
.login-register-edit-field {
    background-color: rgba(255,255,255,0.9);
    border: none;
    border-radius:3px;
    padding:10px;
    color: white;
    margin:auto;
    width:100%;
    margin-bottom:10px;
    font-size:2rem;
}

.login-register-label{
    margin:auto;
}

.login-register-button {
    border: none;
    margin:auto;
    margin-top:10px;
    background-color:rgba(255,0,0,0.9);
    text-transform:uppercase;
    font-weight:bold;
    font-size:18px;
}

.login-register-form .form-group{
    padding: 40px;
    padding-top: 10px;    
}

.login-register-edit-field,
.login-register-edit-field:hover,
.login-register-edit-field:focus,
.login-register-edit-field:active{
    color:black;
}