@{
    ViewBag.Title = "Index";
}

<div class="settings-wrapper">
    <div class="settings-settings">
        <div class="settings-title uppercase">Settings</div>
        <div class="setting">
            <form class="setting-form" method="POST">
                <div class="setting-name">Image Blur</div>
                @{
                    if (Request.Cookies["ImageBlur"] != null)
                    {
                        if (Request.Cookies["ImageBlur"]["blurGallery"] == "true")
                        {
                            <button class="setting-button setting-button-off" onclick="location.href='@Url.Action("Index", "Settings")'">OFF</button>
                        }
                        else
                        {
                            <button class="setting-button setting-button-on" onclick="location.href='@Url.Action("Index", "Settings")'">ON</button>
                        }
                    }
                }
            </form>
        </div>
    </div>
</div>