.comment-wrapper {
    display:flex;
    flex-wrap:wrap;
    width:101%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    padding:10px;
    color:white;
    position:absolute;
    overflow-y:scroll;
}

.comment-section{
    flex:1;
    width:100%;
    padding:10px;
    height:100%;
}

.comment-image {
    width:100%;
    min-width:300px;
    max-height:100%;
}

.body-content{
    position: fixed;
    overflow: hidden;
    top: 8vh;
    left: 1vw;
    width: 98vw;
    height: 90vh;
}

/* AUTHOR */

.comment-author-photo {
    width:12.5%;
    min-width:100px;
}

.comment-author {
    list-style-type:none;
    margin:0;
    padding:0;
}

/* COMMENT */
.comment-comments{
    width:98%;
    height: 92%;
    background-color:rgba(0,0,0,0.6);
    margin-bottom:20px;
    overflow-y:scroll;
}

.comment-comments-input{
    width:100%;
    justify-content: center;
    display: flex;
}

.comment-comments-input textarea{
    max-width:100%;
    resize: none;
    flex: 4;
    margin-right: 10px;  
}

.comment-comments-input div{
    background-color:rgba(255,255,255,0.6);
    border-radius:0;
    padding:40px 25px;
}

.comment{
    background-color:rgba(255,255,255,0.6);
    padding:10px;
    margin-bottom:10px;
}

.comment-name{
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

.comment-text{
    word-wrap: break-word;
}

.comment-submit{
    flex: 1;
    margin-right: 20px;
}

/* MEDIA QUERIES */
@media (max-width:635px){
    .comment-section{
        
    }

    .comment-image{
        width:100%;
        height:72.5%;
    }
}

@media (min-width:635px){
    .comment-image{
        width:100%;
        height:72.5%;
    }
}

@media(max-width:645px)
{
    .comment-section-right{
        margin-top:20px;
        margin-bottom:10px;
    }

    .body-content{
        width:96vw;
    }
}