.gallery-wrapper
{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 8vh;
    left: 1vw;
    width: 98vw;
    height: 90vh;
}

.gallery-wrapper
{
    overflow:hidden;
}

.gallery-random-background{
    width:100%;
    height:100%;
}

.gallery-random-background-overlay
{
width: 101%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    overflow-y: scroll;
    right: -17px;
    padding-right: 0px;
}

.gallery-image-container
{
    display:flex;
    flex-wrap:wrap;
}

.gallery-image{
    width: 400px;
    height: 400px;
    flex-grow: 1;
    padding: 10px;
}

.gallery-image img
{
    width:100%;
    height:100%;
}

.gallery-image:hover 
{
    padding:0;
}

.gallery-page-number-wrapper{
    width:100%;
}

.gallery-page-number{
    display:block;
    float:left;
    color:white;
    width:25px;
    text-align:center;
    font-size:20px;
    margin:10px;
}

.gallery-page-number-list{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-28%);
}