.search-wrapper{
    position: absolute;
    color: white;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(0,0,0,0.9);
    height:100%;
}

.search-form{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    display:flex;
    justify-content:center;
}

.search-textbox{
    background-color:rgba(255,255,255,0.9);
    border: none;
    padding:10px 2rem;
    border-radius:5px;
    color:black;
    font-size:18px;
    margin-right:10px;
}

.search-button-search{
    background-color:rgba(255,0,0,0.9);
    border:none;
    color:white;
    padding:10px 30px;
    border-radius:5px;
    font-size:18px;
}

.search-button-close{
    position:absolute;
    z-index:1;
    right:0;
    margin:20px;
    background-color:rgba(255,0,0,0.9);
    border:none;
    font-size:20px;
    color:white;
    padding:10px 20px;
    border-radius:5px;
}