.settings-wrapper{
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    position:absolute;
}

.settings-title{
    text-align:center;
    font-size:32px;
    color:white;
}

.setting-form{
    display: flex;
    flex: 1;
    width: 50%;
    flex-wrap: wrap;
    margin: auto;
    color: white;
    margin-top: 10px;
}

.setting-name{
    flex-grow: 1;
    font-size: 24px;
}

.setting-button,
.setting-button-on,
.setting-button-off{
    flex-grow: 1;
    flex-grow: 1;
    background-color: rgba(255,255,255,0.9);
    border: none;
    color: white;
    font-size: 24px;
    border-radius:5px;
}

.setting-button:hover{
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.45);
}

.setting-button-on{
    background-color:rgba(0,255,0,0.9);
}

.setting-button-off{
    background-color:rgba(255,0,0,0.9);
}

.setting {
    background-color:rgba(0,0,0,0.6);
    margin:10px 0;
}

.uppercase{
    text-transform:uppercase;
}