

body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y:hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position:absolute;
    width: 100vw;
    height: 100vh;
}

/* Navbar background */
.navbar-inverse{
    background-color: rgba(0,0,0,0.6);
    border:none;
}

/* Navbar title */
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 3rem;
}

/* Navbar buttons */
.navbar-inverse .navbar-nav > li > a {
    color:white;
    font-size: 1.8rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set the background image of the website */
.background-image{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)),
        url(https://images.unsplash.com/photo-1538691929598-f3c649a7b92e?ixlib=rb-0.3.5…EyMDd9&s=cb35876…&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.index-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.home-wrapper{
    position:absolute;
    top:50%;
    transform:translateY(-100%);
    text-align:center;
    color:white;
    width:100%;
}

.index-title{
    font-size:10rem;
}

.index-phrase{
    font-size:4rem;
}

.home-buttons{
    margin-top:40px;
}

.index-moreInfo,
.index-signUp{
    background-color:rgba(0,0,0,0.9);
    font-size:3.5rem;
    padding:20px;
    color:white;
    margin:5px;
    border-radius:5px;
}

.index-moreInfo:hover,
.index-signUp:hover,
.index-moreInfo:active,
.index-signUp:active,
.index-moreInfo:focus,
.index-signUp:focus
{
    color:white;
    text-decoration:none;
}

.index-moreInfo:hover,
.index-signUp:hover{
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.45);
}

.index-signUp{
    background-color:rgba(255,0,0,0.9);
}

/* Validation summary */
.validation-summary-errors{
    text-align:center;
    font-size:20px;
    color:red;
}

.validation-summary-errors ul{
    list-style-type:none;
    background-color: rgba(0,0,0,0.8);
    display:inline-block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

/* Button color change after log in */
.index-moreInfo-loggedIn{
    background-color:rgba(255,0,0,0.9);
}

/* MEDIA QUERIES */

@media (max-width:800px){
    .index-title{
        font-size:4rem;
    }

    .index-phrase{
        font-size:2rem;
    }

    .index-moreInfo,
    .index-signUp{
        font-size:1.75rem;
    }
}