body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow:hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position:absolute;
    width: 100vw;
    height: 100vh;
}

/* Navbar background */
.navbar-inverse{
    background-color: rgba(0,0,0,0.6);
    border:none;
}

/* Navbar title */
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 3rem;
}

/* Navbar buttons */
.navbar-inverse .navbar-nav > li > a {
    color:white;
    font-size:2rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set the background image of the website */
.background-image{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)),
        url(https://images.unsplash.com/photo-1538691929598-f3c649a7b92e?ixlib=rb-0.3.5…EyMDd9&s=cb35876…&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.index-wrapper{
position: absolute;
    left: 0;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    top: 50%;
    transform: translateY(-100%);
}

.index-title,
.index-phrase,
.index-moreInfo,
.index-signUp {
    color:white;
}

.index-title,
.index-phrase{
    margin-bottom:3rem;
}

.index-title {
    font-size:125px;
}

.index-phrase{
    font-size:49px;
}

.index-moreInfo,
.index-signUp{
    padding:2rem 7.75rem;
    background:rgba(0,0,0,0.6);
    border:none;
    font-size:26px;
    text-transform:uppercase;
    margin-top:auto;
}

.index-signUp{
    margin-left:20px;
    background-color:rgba(255,0,0,0.6);
}